
      .header-logo {
    text-align: center;
}
.container {
    max-width: 50%;
}
label{
    color: #000;
    font-weight: 500;
    width: 13%;
margin-bottom:0;
}
input , textarea{
        outline: 0;
     background: transparent; 
   
    width: 50%;
    padding: 0 10px;
    border-radius: 5px;
border: 0px solid #85d5a0;
        margin-left: 15px;

}
.form-group {
    display: flex;
    margin-bottom: 1rem;
}
input:focus , textarea:focus{
    outline: 0;
    background: transparent;
    border-width: 0;
    /*border-color: #85d5a0;*/
    
}
.mail-container{
    width: 100%;
    /* display: flex; */
    /* text-align: center; */
    margin: 37px 18% 0;
}
.body-form {
    margin-top: 30px;
}
#mail-form {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    background: #ececec;
        border-radius: 5px;
        
    padding: 30px 30px;
}
.header-logo img{
        width: 50%;
}
#mail-form {
    position: absolute;
    width: 100%;
    top: 14%;
    max-width: 60%;
    left: 0;
    right: 0;
}
.mail-para{
    text-align:center;
}
textarea{
    height: 70px;
}