<html><head></head><body marginheight="0"><div class="container" id="mail-form" style="position: absolute ; width: 100% ; top: 9% ; left: 0 ; right: 0 ; margin: 0 auto ; max-width: 70% ; box-shadow: 0 19px 38px rgba(0 , 0 , 0 , 0.30) , 0 15px 12px rgba(0 , 0 , 0 , 0.22) ; background: #ececec ; border-radius: 5px ; padding: 30px 30px">
          <div class="header">
              <div class="header-logo" style="text-align: center">
                  <img style="width: 50%" src="https://softskillers.ca/quickfeet/static/assets/img/Quickfeet.png">
              </div>
          </div>
          <div class="body-form" style="margin-top: 30px">
              <div class="mail-container" style="width: 100% ; margin: 37px 25% 0">
                  <div class="form-group" style="display: flex ; margin-bottom: 1rem">
                    Dear
                      <input style="outline: 0 ; background: transparent ; border-width: 0 ; width: 50% ; padding: 0 10px ; border-radius: 5px ; margin-left: 0" type="name" readonly="" value="{{Full_name}},">
                  </div>
                  <div class="form-group">
                    <p>Greetings for the day!</p>
                    <p style="width: 50%">You have received the reply from the quickfeet team regarding your concern. Please find below message and revert us back if you have more queries/doubt regarding the same</p>
                  </div>
                  
                  
                  
                  
                  
                  
                   <div class="form-group" style="display: flex ; margin-bottom: 1rem">
                      <label style="color: #000 ; margin-bottom: 0">
                          Message :
                      </label>
                      <textarea style="outline: 0 ; background: transparent ; border-width: 0 ; width: 50% ; padding: 0 10px ; border-radius: 5px ; color: #000 ; margin-left: 15px" id="msg" name="message" rows="2" cols="50" readonly="">{{Message}}</textarea>
                  </div>
                  <p>Thanks &amp; Regards,<br>Quickfeet Team</p>
                </div>  
          </div>
        </div>  
  
  <br><br><br><br><br><br><br></body></html>